/*
 * Globals
 */

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.main {
    padding-top: 40px
}

 /** Demo name and description*/

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.description {
    font-size: 20px;
    color: #999;
}


 /** Main column */

.main {
    font-size: 18px;
    line-height: 1.5;
}


 /** Demo posts*/

.post {
    margin-bottom: 60px;
}
.post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.post-meta {
    margin: 20px 0 5px 0;
    color: #999;
}


 /** Footer*/

.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
    margin-bottom: 0;
}